<!doctype html>
<html ng-app="school_progress">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Schoolprogress by garethjscoleman</title>

    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="schoolprogress.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
     <link href="stylesheets/schoolprogress.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div ng-controller="SchoolProgressCtrl">
        <div class="row">
          <div class="span9">
          <h1>School Progress Score Visualizer</h1>
          </div>
        </div>
          
        <div class="row bigrow" ng-style="myStyle">
          <div class="bigrow" ng-style="myStyle2">
          <div class="bigrow" ng-style="rleft25">&nbsp;</div>
          <div class="bigrow" ng-style="rleft75">&nbsp;</div>
          <div class="bigrow" ng-style="rleft40">&nbsp;</div>
          <div class="bigrow" ng-style="rright40">&nbsp;</div>          
          <div class="bigrow" ng-style="rright75">&nbsp;</div>
          <div class="bigrow" ng-style="rright25">&nbsp;</div>
          </div>
        </div>
        <div class="row bigrow">
          
           <div class="bigrow" ng-style="left25">&nbsp;</div>
          <div class="bigrow" ng-style="left75">&nbsp;</div>
          <div class="bigrow" ng-style="left40">&nbsp;</div>
          <div class="bigrow" ng-style="right40">&nbsp;</div>          
          <div class="bigrow" ng-style="right75">&nbsp;</div>
          <div class="bigrow" ng-style="right25">&nbsp;</div>
        </div>
         <div class="row-fluid bigrow">
          
          <div ng-repeat="val in numberline" ng-style="numberlinestyle">{{val}}</div>
          
        </div>
     <div class="row">&nbsp;</div>
     
     <div class="row">
          <div class="span1 ">&nbsp;
            </div>
            
          <div class="span4 ">
             <div class="form-group">
              <label for="score" >Progress</label>
              <input id="score" type="number" ng-model="score" min=-10 max=10 step=0.5>
              </div>
          </div>
          <div class="span4 ">
             <div class="form-group">
              <label for="cohort" ># in Cohort</label>
              <input type="number" ng-model="cohort" min=16 max=500  >
            </div>
          </div>
        </div>
     
    </div>
 
     
  </body>
</html>
