<!doctype html>
<html ng-app="school_progress">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Schoolprogress by garethjscoleman</title>

    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="schoolprogress.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
     <link href="stylesheets/schoolprogress.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div ng-controller="SchoolProgressCtrl">
        <div class="row">
          
        </div>
          
        <div class="row">
          <div class="span4 ">
            <input type="number" ng-model="score" >
            <span>{{score}}</span>
          </div>
          <div class="span4 ">
            <input type="number" ng-model="cohort" >
            <span>{{cohort}}</span>
          </div>
        </div>
        <div class="row">
          <div ng-style="test">
          <div class="2point5">&nbsp;</div>
          <div class="7point5"></div>
          <div class="240point0"></div>
          <div class="240point0"></div>          
          <div class="7point5"></div>
          <div class="2point5"></div>
        </div>
        <div class="row">
          
          <div class="2point5">&nbsp;</div>
          <div class="7point5"></div>
          <div class="240point0"></div>
          <div class="240point0"></div>          
          <div class="7point5"></div>
          <div class="2point5"></div>
        </div>
          
    </div>
 
    
  </body>
</html>
